.contact-form {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.text-container {
	border: none;
	padding: 15px;
	margin: 10px;
	border-radius: 10px;
	background-color: rgb(71, 77, 81);
	color: white;
}

.input-textarea {
	width: 600px;
	height: 200px;
    margin: 10px;
	border: none;
	border-radius: 10px;
}

.input-email {
	width: 600px;
	height: 50px;
    margin: 10px;
	border: none;
	border-radius: 10px;
}

.button {
	width: 610px;
	height: 50px;
    margin: 10px;
	border-radius: 10px;
	border: none;
}

.button:hover {
	border: solid 2px rgba(0, 128, 0, 0.626);
	background-color: rgb(22, 132, 22);
}

.btn-delete-text {
	width: 580px;
	height: 30px;
	border-radius: 5px;
	border: none;

}

.btn-delete-text:hover {
	border: solid 2px red;
	background-color: rgb(221, 50, 81);
}